aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp_socks==0.10.0
aiosignal==1.3.2
attrs==24.3.0
fake-useragent==2.0.3
frozenlist==1.5.0
idna==3.10
multidict==6.1.0
numpy==2.2.1
pandas==2.2.3
propcache==0.2.1
python-dateutil==2.9.0.post0
python-socks==2.5.3
pytz==2024.2
six==1.17.0
tenacity==9.0.0
tzdata==2024.2
yarl==1.18.3
